{% extends "base.html" %}

{% block content %}

        <h1 class="homeTitle">Au CEFIM, semaine 42</h1>
        <div class="allIndicator">
                <div id="allIndicator1">blah</div>
                <div id="allIndicator2">blih</div>
                <div id="allIndicator3">bloh</div>
                <div id="allIndicator4">bluh</div>
        </div>
        
        <div class="weekNav">
            <p><i class="fas fa-chevron-left"></i>      Semaine     <i class="fas fa-chevron-right"></i></p>
        </div>
       
{% endblock %}

