{% extends "base.html" %}

{% block content %}

        <h1 class="homeTitle">Les promos de Cefim</h1>
        <div class="allIndicator">
                <div id="allIndicator1">Promo 1</div>
                <div id="allIndicator2">Promo 2</div>
                <div id="allIndicator3">Promo 3</div>
                <div id="allIndicator4">Promo 4</div>
                <div id="allIndicator5">Promo 5</div>
                <div id="allIndicator6">Promo 6</div>
        </div>
        
        <div class="weekNav">
            <p><i class="fas fa-chevron-left"></i>      Semaine     <i class="fas fa-chevron-right"></i></p>
        </div>
       
{% endblock %}

