{% extends "base.html" %}

{% block content %}

        <h1 class="homeTitle">{{promo.name}}</h1>
        <div class="promo-contain">
        
                <div class="promo-ind">Promo 1</div>
                
                <div class="button-contain">
                        <button class="btn-q">Q1<a href=""></a></button>
                        <button class="btn-q">Q2<a href=""></a></button>
                        <button class="btn-q">Q3<a href=""></a></button>
                        <button class="btn-q">Q4<a href=""></a></button>
                        <button class="btn-q">Q5<a href=""></a></button>
                        <button class="btn-q">Q6<a href=""></a></button>
                </div>
        </div>
        
        <div class="weekNav">
            <p><i class="fas fa-chevron-left"></i>      Semaine     <i class="fas fa-chevron-right"></i></p>
        </div>
       
{% endblock %}

