{% extends "base.html" %}

{% block content %}

        <h1 class="homeTitle">{{promo.name}}</h1>
        <div class="promo-contain">
        
                <div class="promo-ind" id="promo_chart"  style="width:800; height:500"></div>
                <script>
                        google.charts.setOnLoadCallback( 
                                function() {
                                        createBarChart("{{ URI | safe }}", "promo_chart");
                                }
                        );
                </script>
                
                <div class="button-contain">
                        {% for questions in Questions %}
                        <a href="{{ url_for('show_question', name=promo.name, q=questions) }}"><button class="btn-q">{{ questions }}</button></a>
                        {% endfor %}
                </div>
        </div>
        
        <div class="weekNav">
            <p><i class="fas fa-chevron-left"></i>      Semaine     <i class="fas fa-chevron-right"></i></p>
        </div>
       
{% endblock %}

