{% extends "base.html" %}

{% block content %}

        <h1 class="homeTitle">{{promo.name}} - {{q}}</h1>

        <div class="question">
        
        <div class="indicator" id="moyenne">
            <h3 class="indicatortitle">Moyenne Pondérée</h3>
            <div class="indicatorChart" id="moyenneChart">
                <script>
                    google.charts.setOnLoadCallback(
                        function() {
                            createPieChart("{{ URIMOYENNE | safe  }}", "moyenneChart");
                        }
                    );
                </script>
            </div>
        </div>

        <div class="indicator" id="quart1">
            <h3 class="indicatortitle">Moyenne des 25% de notes les plus basses</h3>
            <div class="indicatorChart" id="quart1chart">
                <script>
                    google.charts.setOnLoadCallback(
                        function() {
                            createPieChart("{{ URIQUART1 | safe  }}", "quart1chart");
                        }
                    );
                </script>
            </div>
        </div>

        <div class="indicator" id="quart3">
            <h3 class="indicatortitle">Moyenne des 25% de notes les plus hautes </h3>
            <div class="indicatorChart" id="quart3chart">
                <script>
                    google.charts.setOnLoadCallback(
                        function() {
                            createPieChart("{{ URIQUART3 | safe  }}", "quart3chart");
                        }
                    );
                </script>
            </div>
        </div>
    </div>
        <div class="questionNav">
            <p><i class="fas fa-chevron-left"></i>       Question    <i class="fas fa-chevron-right"></i></p>
        </div>
       
{% endblock %}
